@charset "UTF-8";

.booking-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.booking-flex div.movie,
.booking-flex div.theater,
.booking-flex div.time {
	box-sizing: border-box;
	height: 530px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

.booking-flex div.movie {
	width: 270px;
}

.booking-flex div.theater {
	width: 350px;
}

.booking-flex div.time {
	width: calc(100% - 620px);
}

.booking-flex div.movie-title {
	width: 100%;
	padding: 10px 5px;
}

.booking-flex div.movie-tab {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.booking-flex div.movie-tab > label,
.booking-flex div.theater-tab > label {
	width: 50%;
	height: 30px;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
}

.booking-flex div.movie-list-all,
.booking-flex div.movie-list-curation {
	overflow-y: scroll;
}

.booking-flex div.movie-tab > input {
	display: none;
}

.booking-flex div.movie-list {
	height: 320px;
}

.booking-flex div.movie-list-all {
	height: 100%;
}

.booking-flex div.movie-list-all li {
	padding: 10px 0 10px 30px;
}

.booking-flex div.movie-list-curation li {
	padding: 10px 0 10px 30px;
}

.booking-flex div.movie-list-curation {
	display: none;
	height: 100%;
}

.booking-flex div.movie-select {
	width: 100%;
	height: 144px;
}

.booking-flex div.theater-title {
	width: 100%;
	padding: 10px 5px;
}

.booking-flex div.theater-tab {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.booking-flex div.theater-tab > label {
	width: 50%;
	height: 30px;
	box-sizing: border-box;
	cursor: pointer;
	border: 1px solid black;
}

.booking-flex div.theater-tab > input {
	display: none;
}

.booking-flex div.theater-list {
	height: 320px;
}

.booking-flex div.theater-list-all,
.booking-flex div.theater-list-special {
	overflow: hidden;
	clear: both;
}

.booking-flex div.theater-list-all-region,
.booking-flex div.theater-list-all-detail,
.booking-flex div.theater-list-special-region,
.booking-flex div.theater-list-special-detail {
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
}

.booking-flex div.theater-list-all-detail,
.booking-flex div.theater-list-special-detail {
	/* display: none; */
}

.booking-flex div.theater-list-all-region > ul > li,
.booking-flex div.theater-list-all-detail > ul > li,
.booking-flex div.theater-list-special-region > ul > li,
.booking-flex div.theater-list-special-detail > ul > li {
	width: 100%;
	padding: 10px 0 10px 30px;
}

.booking-flex div.theater-list-all-detail > ul,
.booking-flex div.theater-list-special-detail > ul {
	overflow-y: scroll;
	height: 100%;
}

.booking-flex div.theater-list-special {
	/* display: none; */
	height: 100%;
}

.booking-flex div.theater-content label {
	cursor: pointer;
}

.booking-flex div.theater-content input {
	/* display: none; */
}

.booking-flex div.theater-list>div > div > div {
	width: 50%;
	height: 100%;
}

.booking-flex div.theater-select {
	display: flex;
	width: 100%;
	height: 144px;
}

.booking-flex div.none {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.booking-flex {
	background-color: bisque;
}